@font-face {
  font-family: 'Inter';
  src: url('~assets/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('~assets/fonts/Inter/static/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('~assets/fonts/Inter/static/Inter-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('~assets/fonts/Inter/static/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Playfair';
  src: url('~assets/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair';
  src: url('~assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
}